* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: rgb(24, 24, 24);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 500px;
}

input {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 0 20px;
    color: rgb(194, 195, 199);
    background-color: rgb(46, 52, 61);
    font-size: 16px;
    font-weight: 500;
}

#submit-button {
    margin-top: 16px;
    line-height: 24px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(
        to right,
        rgb(99 102 241),
        rgb(168 85 247),
        rgb(204, 47, 107)
    );
    cursor: pointer;
}

#submit-button:hover {
    background-image: linear-gradient(
        to right,
        rgb(204, 47, 107),
        rgb(168 85 247),
        rgb(99 102 241)
    );
}

.user-form > :nth-child(3) {
    color: rgb(194, 195, 199);
    font-weight: 500;
    margin-top: 5px;
}

a{
    font-weight: bold;
    color: white;
    text-underline-offset: 2px;
}


@media (max-width: 676px){
    .container {
        min-height: 100vh;
    }
    form{
        width: 400px;
    }
}

@media (max-width: 440px){
    form{
        width: 95%;
    }
}