* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #111b21;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.left {
    width: 400px;
    height: 100%;
    position: relative;
}

.user-nav {
    height: 60px;
    background-color: #212c33;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-nav > :nth-child(2) {
    display: flex;
    margin-right: 18px;
}

#user-image,
#logout,
.big-user-image,
.chat-image,
.chat-info > div > :nth-child(1),
#exit-chat {
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 18px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#logout {
    height: 44px;
    width: 44px;
    background-color: transparent;
}
#logout:hover {
    background-color: rgb(239, 68, 68);
}

.search-user {
    display: flex;
    width: 90%;
    justify-content: center;
    position: relative;
    margin: 20px auto;
}

.search-user i {
    position: absolute;
    font-size: 16px;
    top: 16px;
    left: 16px;
    color: white;
}

#search {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    padding: 0 20px 0 44px;
    background-color: #37434b;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
}

.chats {
    display: flex;
    height: calc(100vh - 148px);
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.chat {
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    color: white;
    gap: 16px;
    border-radius: 24px;
    cursor: pointer;
    padding: 16px;
}
.chat.selected {
    background-color: black;
}
.chat:hover {
    background-color: black;
}

.chat > :nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    position: relative;
}

.chat span:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

.chat span > :nth-child(2) {
    font-size: 12px;
    color: gray;
}

.chat p {
    font-size: 14px;
    color: gray;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
}

.chat-image {
    width: 56px;
    height: 56px;
    background-color: black;
    margin-left: 0px;
}

.chat > :nth-child(2) > :nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    bottom: 0;
    border-radius: 50%;
    background-color: rgb(239, 68, 68);
}

.right {
    width: calc(100% - 400px);
    height: 100%;
    background-color: #212c33;
    border-left: 0.5px solid rgb(77, 77, 77);
}

.chat-info {
    height: 60px;
    display: flex;
    justify-content: flex-start;
}

.chat-info > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.chat-info > div > :nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.chat-info > div > :nth-child(2) > :nth-child(2) {
    font-weight: lighter;
    font-size: 14px;
    color: gray;
}

#exit-chat {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: transparent;
    transition: ease 0.3s;
    display: none;
}

#exit-chat:hover {
    background-color: rgba(119, 119, 119, 0.37);
}

.chat-box {
    height: calc(100% - 120px);
    background-color: #11171b;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: auto;
}

.current-user-msg,
.user-msg {
    position: relative;
    width: fit-content;
    max-width: 80%;
    min-width: 50px;
    padding: 10px 50px 10px 15px;
    background-color: #37434b;
    border-radius: 20px;
    color: white;
}

.current-user-msg {
    align-self: flex-end;
    border-top-right-radius: 0px;
}

.user-msg {
    align-self: flex-start;
    border-top-left-radius: 0px;
}

#messageTime {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: rgb(161, 161, 161);
    position: absolute;
    right: 10px;
    bottom: 1px;
}

.chat-input {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}

.chat-input > :nth-child(1),
.chat-input > :nth-child(2),
.chat-input > :nth-child(4) {
    color: gray;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}

#message {
    width: 80%;
    height: 40px;
    padding: 0 16px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #37434b;
    color: white;
}

.user-update {
    position: absolute;
    top: 50%;
    left: -150%;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 99;
    transform: translate(-50%, -50%);
    transition: ease all 0.5s;
    background-color: #111b21;
}
.user-update.active {
    left: 50%;
    opacity: 1;
}
.exit-user {
    height: 100px;
    width: 100%;
    background-color: #212c33;
    display: flex;
    align-items: end;
}
.exit-user > div {
    display: flex;
    gap: 30px;
    margin-left: 30px;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
.exit-user i {
    cursor: pointer;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
}

.big-user-image {
    height: 100px;
    width: 100px;
    font-size: 46px;
    margin-left: 0;
}
.user-info > :nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 8px;
}
#edit-profile-name {
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
}
.user-info > :nth-child(2) i {
    cursor: pointer;
}
.user-info > :nth-child(3) {
    font-size: 14px;
    color: gray;
}

.profile-colors {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-top: 20px;
    gap: 16px;
    margin: 40px auto;
}
.profile-colors > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transition: ease-in-out 0.2s;
}
.profile-colors > span:hover {
    transform: scale(1.25);
}

.scrollbar {
    scrollbar-color: #2e343d transparent;
    scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    opacity: 0;
}
.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #2e343d;
    opacity: 1;
}

@media (max-width: 1100px) {
    .left {
        width: 350px;
    }
    .right {
        width: calc(100% - 300px);
    }
}

@media (max-width: 676px) {
    .left {
        width: 100%;
    }
    .right {
        position: absolute;
        top: 50%;
        left: -150%;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        transform: translate(-50%, -50%);
        transition: ease all 0.5s;
        background-color: #212c33;
        border-left: 0.5px solid rgb(77, 77, 77);
    }
    .right.show-chat {
        left: 50%;
        opacity: 1;
    }
    #exit-chat {
        display: flex;
        z-index: 999;
    }
}
